<h1>Sahosoft Angular practice </h1>


<!-- <button>Sign in</button>
<button>Sign in</button>
<button>Sign in</button>
<button>Sign in</button> -->


<!-- parent component : <input type="text" #pcomponent (keyup)="0" /> -->
<!--template reference variable created for the reference, html page not load automatic for this reason we need to give an event to refresh internal dom so keyup event fired for textbox, 0 given to refresh the internal dom with out refresh the page-->
<!--<app-student [pdata]="pcomponent.value"></app-student> (property binding with parent component input field with child student compoent) -->

<!-- <app-student (childevent)="getData($event)"></app-student> (now child event have the data so we will get data here by using a function and need to pass $event it used get the data)
 <br>
the value of child data is : {{cdata}} -->

<!-- <br><br>
<p>Directive stydy</p>
<div *ngIf="false">THis is a part of directive</div> -->
<!--dom light weight if false then dom will not show div incase of use visibility none then in dom we can see-->


<!-- <div *ngIf="isvalid">THis is a part of directive and it is used dynamically</div>

<input type="radio" name="gen" (click)="change(true)" checked>male
<input type="radio" name="gen" (click)="change(false)">female

<p *ngIf="isvalid">this is male</p>
<p *ngIf="!isvalid">this is female</p>

<div *ngIf="emp"> // if data is there in file it will show
    name : {{emp.name}} | id : {{emp.id}}
</div>

<ng-template>hi this is ng template</ng-template>

<p *ngIf="isvalid; else elseblock">this is male</p> -->
<!--else elseblock similarly then thenblock-->
<!-- <ng-template #elseblock>THis is female</ng-template> -->
<!--used and it not take any div creating space-->

<!-- <ng-template [ngIf]="true">
    <div>
        (insted of this we can use ng-template and within that we can use [ngIf]="true" then * no need, similarly we can use else, then [ngIfThen]="thenblock" [ngIfElse]="elseblock")
        Hello world
    </div>
</ng-template> -->


<!-- <div>
    <input type="radio" name="gender" (click)="display('male')">male
    <input type="radio" name="gender" (click)="display('female')">female
    <input type="radio" name="gender" (click)="display('other')">other
</div>

<p *ngIf="gend=='male'">person is a male</p>
<p *ngIf="gend=='female'">person is a female</p>
<p *ngIf="gend=='other'">person is a other</p> -->

<!-- <input type="radio" name="choice" checked (click)="displayComponent(true)">student
<input type="radio" name="choice" (click)="displayComponent(false)">teacher
<app-student *ngIf="value"></app-student>
<app-teacher *ngIf="!value"></app-teacher> -->



<!-- <br>
({{_name}} this way we can bind data but it will show object promise, follow below for real data)
<div *ngIf="_name | async as msg; else elseblock1">
    <b>{{msg}}</b>
</div>
<ng-template #elseblock1>
    <b>Loading....</b>
</ng-template> -->

<!-- <h1>For loop</h1>
<table border="1">
    <tr>
        <td>Sl no</td>
        <td>Id</td>
        <td>Name</td>
    </tr>
    <tr *ngFor="let i of officdata; index as ind">
        <td>{{ind+1}}</td>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>

    </tr>
</table> -->

<!-- <ul>
    <li *ngFor="let i of officdata">
        id is {{i.id}} and name is {{i.name}}
    </li>
</ul> -->

<!-- <p>used to avoid the use of *</p>
<ul>
    <ng-template ngFor let-data [ngForOf]="officdata"> 
        <li>
           with out * id is {{data.id}} and name is {{data.name}}
        </li>
    </ng-template>
</ul> -->

<!-- <div *ngFor="let data of officdata; index as i; even as iseven; odd as isodd">
    <font *ngIf="iseven">id is : {{data.id}} & name is {{data.name}}</font>
    <font *ngIf="isodd">id is : {{data.id}} & name is {{data.name}}</font>
</div> -->

<!-- <p>pring data using if condition in for loop without *</p>
<ng-template ngFor let-data [ngForOf]="officdata" let-i="index" let-iseven="even" let-isodd="odd">
    <div>
        <font *ngIf="iseven" color="blue">{{i}} id is : {{data.id}} & name is {{data.name}}</font>
        <font *ngIf="isodd" color="red">{{i}} id is : {{data.id}} & name is {{data.name}}</font>
    </div>
</ng-template> -->

<!-- <p>pring data using if condition in for loop without * also use first and last</p>
<ng-template ngFor let-data [ngForOf]="officdata" let-i="index" let-isfirst="first" let-islast="last">
    <div>
        <font *ngIf="isfirst" color="blue">{{i}} id is : {{data.id}} & name is {{data.name}}</font>
        <font *ngIf="!isfirst && !islast">{{i}} id is : {{data.id}} & name is {{data.name}}</font>
        <font *ngIf="islast" color="red">{{i}} id is : {{data.id}} & name is {{data.name}}</font>
    </div>
</ng-template> -->

<!-- <p>async with for loop</p>
<p>{{allemps}}</p>
<div *ngFor="let data of allemps | async"> (if we remove  async pipe we will get error that promise any type not assignable)
    Id : {{data.id}} | Name : {{data.name}}
</div> -->

<!-- <p>trackBy method of ngFor to reload the table data if any new data also want to add with out loading the whole page</p>
<button (click)="getallemp()">Refresh</button>
<table border="1">
    <tr>
        <td>Emp Id</td>
        <td>Emp Name</td>
    </tr>
    <tr *ngFor="let data of employes; trackBy: fntrackby">        
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
    </tr>
</table> -->

<!-- <p>ngSwitch example</p>
<div [ngSwitch]="name">
    <div *ngSwitchCase="'sushree'">Hi sushree</div>
    <div *ngSwitchCase="'Mama'">Hi Mama</div>
    <div *ngSwitchCase="'Debasish'">Hi Debasish</div>
    <div *ngSwitchCase="'debasish'">Hi debasish panda</div>
    <div *ngSwitchDefault>No data found</div>
</div> -->

<!-- <p>ngSwitch example without * (we can add more than one default paramenter it will display all)</p>
<div [ngSwitch]="name">
    <ng-template [ngSwitchCase]="'sushree'">Hi sushree</ng-template>
    <ng-template [ngSwitchCase]="'Mama'">Hi Mama</ng-template>
    <ng-template [ngSwitchCase]="'Debasish'">Hi Debasish</ng-template>
    <ng-template [ngSwitchCase]="'debasish'">Hi debasish panda</ng-template>
    <ng-template [ngSwitchDefault]>No data found</ng-template>
</div> -->

<!-- <div *ngFor="let id of ids">

    Id : {{id}} <div [ngSwitch]="id%2">
                    <div *ngSwitchCase="0">I am even</div>
                    <div *ngSwitchCase="1">I am odd</div>
                </div>
</div> -->

<!-- <p>Attribute directive</p>
<div style="background-color: red">this is attribute style directive</div>
<div [ngStyle]="{'background-color': 'yellow'}"> this is a div class with style </div>
<div [ngStyle]="{'background-color': color == 'red' ? 'orange' : 'pink'}">this is new style</div> -->

<!-- <p>Attribute directive ngStyle with switch case</p>
<div *ngFor="let emp of empls">
    <div [ngStyle]="{'background-color': gcolor(emp.country)}">
        Name : {{emp.name}} | Country : {{emp.country}}
    </div>
</div> -->

<!-- <div [ngStyle]="{'font-size.px':80}">hellow world</div> -->
<!-- <div [ngClass]="'one two'">This is a class binding</div> -->

<!-- <div *ngFor="let emp of empls" [ngClass]="'one two'">
        Name : {{emp.name}} | Country : {{emp.country}}
</div> -->

<!-- <div [ngClass]="{'one':false, 'two':true}">hello debu</div>
<div [ngClass]="['one', 'two']">hello debu</div>
<div [ngClass]="{'one':false}">hello debu</div> -->

<!-- <div *ngFor="let data of empls; index as i">
    <div [ngClass]="{'one': i%2==1, 'two':i%2==0}">{{i}} - name : {{data.name}} | country : {{data.country}}</div>
</div> -->

<!-- <div *ngFor="let data of empls">
    <div [ngClass]="
    {'one': data.country=='USA',    'two': data.country=='India'}">
        name : {{data.name}} | country : {{data.country}}</div>
</div> -->

<!-- <p>the title of debasish is <b>{{lname}}</b> (this is interpolation binding)</p>
<input type="text" id="inputval" value="enter your name"> (inputval.getAttribute('value');) (inputval.value; - this is checked by property )(if any changes will do in dom without refreshing then we will run the same cmd then we can find the changes, attribute will give old value but proeprty will generate new value)
<br><br>
<table border="1">
    <tr>
        <td [attr.colspan]="col">Employe details</td>
    </tr>
    <tr>
        <td>Emp name</td>
        <td>Emp Id</td>
    </tr>
    <tr>
        <td>Debasish</td>
        <td>2121</td>
    </tr>
</table> -->

<!-- <p>Style binding </p>
<button style="background-color: red;">click me</button>
<button style="background-color: red" [style.font-weight]="'bold'">click me</button>
<button style="background-color: red" [style.font-weight]="isbold ? 'bold' : 'normal'">click me</button>
<button [style.font-size.px]="30">click me font size</button>
<button style="background-color: blue" [ngStyle]="addStyles()">click me</button> -->

<!-- <p>property binding</p>
<div [innerHTML]="text"></div>

<p>Interpolation</p>
<div innerHTML="{{text}}"></div>
<p>same proeprty binding and interpolation do with image as well</p> -->


<!-- <button (click)="enbdsb()">click for enable and disable</button>

<p>property binding</p>
<button [disabled]="currentval">click me</button>

<p>Interpolation</p>
<button disabled="{{currentval}}">click me</button> -->

<!-- <input type="text" #ipval (keyup)="showvalue(ipval.value)" >
the value is : {{sval}} -->

<!-- <input type="text" #ipval (keyup)="sval=ipval.value" >
your message is : {{sval}} -->
<!-- <input type="text" (keyup)="showvalue($event.target)" >
your message is : {{sval}} -->


<!-- <p>Pipe example</p>
<p>{{pipeex | uppercase}}</p>
<p>{{pipeex | lowercase}}</p>

<p>{{pipeex | titlecase}}</p>

<p>{{pipeex | slice : 2}}</p>

<p>{{pipeex | slice : 1:3}}</p>
<p>{{empdtl | json}}</p>
<p ngNonBindable>The value of pipeex is : {{pipeex}}</p> -->


<!-- <app-student [parenttsval] = "parenttsval"></app-student> -->

<!-- <app-student (childvaluestorage)="showchildvalue($event)"></app-student>
value from child to parent : {{parentshowdata}} -->

<!-- parent input field : <input type="text" #pinput (keyup)="0">
<app-student [getparentdata]="pinput.value" [ngdochange]="myArr"></app-student>
<button (click)="addvalue()">Add</button> -->

<!-- <p>minIntergerdigit1 maxfractiondigit0 maxfractiondigit3</p>
{{12.658756|number}} <br>
{{12.658756|number: '3.2-5'}}<br>

{{num1 |percent}}<br>
{{curr | currency : 'INR':true }}<br> -->
<!-- <div [innerHTML]="pipename | bold"></div> -->
<!-- <p>{{pipename | bold}}</p> -->
<!-- <p>{{pipestring | bold : 50}}</p> -->

<!-- <button (click)="clicktoview()">click</button>
{{onclickview}} -->



<!-- <app-teacher></app-teacher>
<a routerLink="/student">Student</a>
<router-outlet></router-outlet> -->

<!-- <button (click)="student()">show student component via server side router</button> -->

<!-- <button (click)="showorhide()" >Show/Hide</button>
<app-student *ngIf="showhide"> </app-student> -->

<!-- input field to check ngOnChange : <input type="text" #onchangeinput (keyup)="0">
<button>add me</button> <br>
<app-student [parentonchange]="onchangeinput.value"></app-student> -->

<!-- <app-teacher>
</app-teacher> -->


<!-- <input type="text" #txtvalue (keyup)="setmessage=txtvalue.value" >
message is : <b>{{setmessage}}</b>

<input type="text" #txtval (keyup)="setmsg(txtval.value)" >
message is : <b>{{message}}</b>

<input type="text" #txtval (keyup)="displaydata($event.target)" >
data is : {{ipdata}} 

<p>below code used for two way data binding</p>
<input type="text" [value]="message" #txtval (keyup)="setmsg(txtval.value)" > 
message is : <b>{{message}}</b>

<input type="text" [(ngModel)]="message">
message is : <b>{{message}}</b>-->















