<!-- <h1>student Child works fine</h1>
value of parent component : {{pdata}} -->


<!-- child component : <input type="text" #ccomponent (keyup)="onChange(ccomponent.value)"> (in parent we have reference of child that is app-student so we easily get the communtication but here we don't have any reference to pass the data, so here this input field value we will sent to its ts file, by creating a event and passing the value) -->


<!-- <h1>student login</h1>
Name : <input type="text"><br>
Mob : <input type="number"> -->

<!-- parent ts file data : {{parenttsval}} -->

<!-- child input field : <input type="text" #childinputdata (keyup)="childToparent(childinputdata.value)"> -->
<!-- parent value :  {{getparentdata}}
ngdocheck value : <div *ngFor="let data of ngdochange"> {{data}}<br/></div> -->

<!-- <h3>Student component</h3>
<input type="text" #textval>
<button (click)="addval(textval.value)">add me</button>

<ul>
    <li *ngFor="let data of servicedata">
        {{data}}
    </li>
</ul> -->

<!-- <h1>Student routing working fine</h1> -->

<!-- display data from parent : {{parentonchange}} -->


<!-- {{name}}

<button (click)="change()">add new name</button> -->

<!-- <h1>This is Student component</h1>

{{fullname}}
<br>
<button (click)="change()">change</button> -->